SPRING_DATASOURCE_PASSWORD=root
COMPANY_WALLET_ADDRESS=addr_test1...
COMPANY_SKEY=ed25519_...
BLOCKFROST_PROJECT_ID=preprod...

# Kuber API
KUBER_API_URL=https://preprod.kuber.cardanoapi.io
KUBER_API_KEY=#api-key-placeholder